<h1>Login</h1>from app/views/users_sessions/new
<p>Please enter your credential or create a new account</p>

<% form_for @user do |form| %>
  <%= form.error_messages %>
  
  <p>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </p>
  
  <p>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>

  <%= form.submit 'Login' %>
<% end %>