  <%= link_to logo, root_path  %>
  <nav class='links round '>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Log in', users_sessions_new_path %></li>
      <li><%= link_to 'Search', search_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
   </nav>
