<!Doctype html>
  <html>
    <head>
      <title><%= title %></title>
      <%= csrf_meta_tag %>
      <%= stylesheet_link_tag 'custom', :media => 'screen' %>
      <%= render 'layouts/stylesheets' %>

    </head>
    <body>
      <div class="container">
        <header>
          <%= render 'layouts/header' %>
        </header>
        
        <section class="round">
          <%= yield %>
        </section>
            <%= render 'layouts/footer' %>
      </div>
    </body>
  </html>
